<div class="main-content">
    {{> header}}
    <p class="about-p">This site is created by Ramazan Tiryaki. It gets location data from mapbox.com and weather data
        from
        weatherstack.com and displays this information to the user.</p>
    <img class="portrait" src="/images/2.jpg" alt="My Picture">
    <p>{{content}}</p>
</div>


{{> footer}}