<div class="main-content">
    {{> header}}
    <p>Please enter city name to get weather data</p>
    <form>
        <input class="inp" type="text" name="weather" placeholder="Enter city name">
        <button class="btn">Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
</div>


{{> footer}}